.dots

.config/copyq/copyq.lock
.config/copyq/copyq_geometry.ini
.config/copyq/copyq_tab_JmNsaXBib2FyZA==.dat

.config/rtorrent/session/rtorrent.dht_cache
.config/rtorrent/session/rtorrent.input_history

.config/zsh/.zcompdump

.config/user-dirs.dirs
.config/user-dirs.locale

